<div class="box">
    <dl>
        <dt>用户管理</dt>
        <dd><em><a href="__APP__/Home/User/showAdd">新增</a></em><a href="__APP__/Home/User/showUser">用户管理</a></dd>
        <dt>商品信息</dt>
        <dd><em><a href="__APP__/Home/Product/showProductClassAdd">新增</a></em><a href="__APP__/Home/Product/showProductClass">分类管理</a></dd>
        <dd><em><a href="__APP__/Home/Product/showAddProduct">新增</a></em><a href="product.html">商品管理</a></dd>
        <dt>订单管理</dt>
        <dd><a href="order.html">订单管理</a></dd>
        <dt>留言管理</dt>
        <dd><a href="guestbook.html">留言管理</a></dd>
        <dt>新闻管理</dt>
        <dd><em><a href="news-add.html">新增</a></em><a href="news.html">新闻管理</a></dd>
    </dl>
</div>